<div>
    <table>
        <tr>
            <td style="width: 20%;">SALES</td>
            <td style="width: 30%;"></td>
            <td style="width: 20%;">MANUFACTURER</td>
            <td style="width: 30%;"></td>
        </tr>
        <tr>
            <td style="width: 20%;">Name</td>
            <td style="width: 30%;">{{this.passdataService.currentProduct.sid.name}}</td>
            <td style="width: 20%;">Department</td>
            <td style="width: 30%;">{{this.passdataService.currentProduct.mid.department}}</td>
        </tr>
        <tr>
            <td style="width: 20%;">Phone</td>
            <td style="width: 30%">{{this.passdataService.currentProduct.sid.phone}}</td>
            <td style="width: 20%;">Phone</td>
            <td style="width: 30%;">{{this.passdataService.currentProduct.mid.phone}}</td>
        </tr>
        <tr>
            <td style="width: 20%;">Email</td>
            <td style="width: 30%">{{this.passdataService.currentProduct.sid.email}}</td>
            <td style="width: 20%;">Email</td>
            <td style="width: 30%;">{{this.passdataService.currentProduct.mid.email}}</td>
        </tr>
        <tr>
            <td style="width: 20%;">Web</td>
            <td style="width: 30%">{{this.passdataService.currentProduct.sid.web}}</td>
            <td style="width: 20%;">Web</td>
            <td style="width: 30%;">{{this.passdataService.currentProduct.mid.web}}</td>
        </tr>
    </table>
</div>